{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>This username and password did not match.</p>
        <p>Try again.</p>
    {% else %}
        <p>use the following form to login -> </p>
        <p>if you dint have an account -> <a href="{% url 'register' %}"> for register now.</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Login"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Forgotten a pass?
            </a>
        </p>
    </div>
{% endblock content %}