{% extends "base.html" %}

{% block title %}
  {% if object %}
    Редактрировать блок "{{ object.title }}"
  {% else %}
    Создать новый блок
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
     Редактрировать блок "{{ object.title }}"
    {% else %}
      Создать новый блок
    {% endif %}
  </h1>
  <div class="module">
    <h2>Общая Информация</h2>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Сохранить"></p>
    </form>
  </div>
{% endblock %}
