{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <h1>Dashboard</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to dashboard.</p>
        <p>You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}</p>
        
    {% endwith %}
    <p>Drag and drop button -> <a href="javascript:{% include 'launcher.js' %}" class="button">Share</a></p>
    <p>Edit profile -> <a href="{% url 'edit' %}">here</a></p>
    <p>Change password -> <a href="{% url 'password_change' %}">here</a></p>
    <h2>Whats up</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include 'actions/action/detail.html' %}
        {% endfor %}
    </div>
{% endblock content %}